.home-page {
  background-color: #04080a;
  height: 100%;
}

.jumbotron {
  color: white;
  /* background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)), url('/background.jpg'); */
  background: #33448CC3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100vh; */
}

footer {
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    line-height: 1.5em;
}

body {
    margin-bottom: 5em;
}


.download-button {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}

@media (min-width: 992px) {
  .download-button {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
  }
}

.nav-logo {
    margin-right: 8px;
}

.bg-attics-blue {
    background-color: #33448C;
}

.btn-primary {
    background-color: #33448C;
}

.text-lightgray {
    color: #D3D3D3;
}

.rating {
  unicode-bidi: bidi-override;
  direction: ltr;
  color: orange;
  font-weight: lighter;
}
.rating > span {
  display: inline-block;
  position: relative;
  font-size: 1.3em;
}
.rating > span.filled:before {
   content: "\2605";
   color: orange;
   position: absolute;
}

.star-rating {
    display: inline-flex;
    align-items: center;
    font-size: 1em;
    justify-content: flex-start;
}

.back-stars {
    display: inline-flex;
    color: orange;
    position: relative;
}
.front-stars {
    content: "\2605";
    display: inline-flex;
    color: orange;
    overflow: hidden;
    position: absolute;
    top: 0;
}

.recording-card {
    color: black;
}

.recording-card-selected {
    background-color: rgba(0, 0, 120, 0.2);
}


.song-card:hover {
    background-color: rgba(0, 0, 120, 0.2);
    text-decoration: none;
}

.song-card hr {
    margin: 0;
    margin-top: 1em;
    padding: 0;
}

.song-card .song {
    color: black;
    margin-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

#audio-container {
  position: fixed;
  background-color: #33448CCC;
  color: white;

  border-radius: 10px;
  padding: 16px;

  left: 1em;
  right: 1em;
  bottom: 3em;
  max-width: 500px;
  margin: auto;
}
