<div class="welcome">
  <section>
    <h2>Attics</h2>

    <div class="project">
      <div>
        <p>A iOS application for streaming and downloading <%= Performance.count %>
          live concerts performed by <%= Band.count %> (and growing!) bands on the Internet Archive.</p>
        <p>With a client built using <strong>native iOS</strong> tools,
          Attics is fast, easy to navigate, and reliable.</p>

        <p>Some of our 200+ five-star App Store reviews:</p>
        <blockquote>
          <p><strong>A Life Saver and must for every Dead Head</strong></p>
          <p>Gonna start off with a cliche: I don’t usually write reviews...but for this app I’m making an exception. If you are a jam band fan this is the app for you. The user interface is clean, simple and to the point.
            Who needs Spotify when we’ve got Attics!!!</p>
        </blockquote>
        <blockquote>
          <p><strong>Seamless, A+++ Streamer</strong></p>
          <p>I have several Grateful Dead streaming apps but this one is my go to. It is very well thought out and has a super user friendly interface. I recommend it without reservation.</p>
        </blockquote>
        <a href="https://apps.apple.com/us/app/attics/id1434981632"><%= image_tag "appstore.svg" %></a>
      </div>

      <div>
        <%= image_tag "iphone-1.png", width: "350px" %>
      </div>
    </div>
  </section>

  <section>
    <h2>Contact</h2>
    For questions, band/feature requests, support, or just to say hi, email me at
    <a href="mailto:zac.wood@hey.com">zac.wood@hey.com</a>.
  </section>
</div>
