<header>
  <h1>Bands</h1>
  <%= link_to "New band", new_admin_band_path %>
</header>

<div id="bands">
  <% @bands.each do |band| %>
    <%= render band %>
    <p>
      <%= link_to "Show this band", admin_band_path(band) %>,
      <%= link_to "Edit this band", edit_admin_band_path(band) %>
    </p>
    <hr />
  <% end %>
</div>

