/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* * {
} */

html {
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.5;
  padding: 4em 1em;

  h2 {
    margin-top: 1em;
    padding-top: 1em;
  }
}

a {
  color: var(--color-attics-blue);
}

.attics__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  nav {
    display: flex;
    gap: 1em;
  }

  &__logo {
    * { margin: 0 }
  }
}

.browse {
  display: flex;
  gap: 2em;
  justify-content: start;
  margin-top: 2em;

  &__band_list {
    background-color: var(--color-secondary-system-background);
    text-wrap: none;
    white-space: nowrap;
  }

  &__band_list ul {
    list-style: none;
    margin-block: 0;
    padding: 0;

    li {
      margin: 0;
      text-underline: #2E2F30;
    }
  }

  &__year_list ul {
    list-style: none;
    margin-block: 0;
    padding: 0;

    li {
      margin: 0;
      text-underline: #2E2F30;
    }
  }

  &__show_list ul {
    list-style: none;
    margin-block: 0;
    padding: 0;

    li {
      margin: 0;
      text-underline: #2E2F30;
    }
  }

  &__show_list {
    &__date {
      white-space: nowrap;
    }
  }

  &__band__top_shows_grid {
    display: flex;
    gap: 1em;
  }

  &__band__top_shows_year_list {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  &__band__top_shows_card {
    padding: 1em;
    white-space: nowrap;
    background-color: var(--color-attics-blue);
    color: var(--color-dark-label);
    width: 8em;
    text-decoration: none;

    h4 {
      padding: 0;
      margin: 0;
    }

    &__venue {
      overflow: hidden;
      text-overflow: ellipsis;
      color: var(--color-dark-secondary-label);
    }

    &:hover {
      transform: scale(0.98);
    }
  }

  &__player__header {
    * {
      margin: 0
    }

    margin-top: 2em;
    margin-bottom: 2em;
  }
}

#player {
  * { margin: 0 }
}


